// Required
@import "~bootstrap";

// css reset
button {
  background-color: transparent;
  border: 0;
  font: inherit;
}
ul, li {
  list-style: none;
}

// Your variable overrides
$body-bg: #F7F9FA;
$body-color: #000000;
$font-family-base: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$link-color: #62BCCC;
$navbar-padding-y: 2rem;
$dropdown-link-active-bg: $gray-400 !important;
$list-group-bg: transparent;
$list-group-color: #62BCCC;
$list-group-active-color: #fff;
$list-group-active-bg: #62BCCC;
$list-group-active-border-color: #62BCCC;
$jumbotron-color: #FFFFFF;
$jumbotron-bg: #000000;
$theme-colors: (
  "transparent": transparent
);
.btn-transparent {
  color: #1D293F !important;
  border: 0;
}
.jumbotron {
  opacity: 75%;
  text-align: center;
}

.homepage-search {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  div { 
    display: inline-flex;
    justify-content: space-between;
  }
};

.post-wrap {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.comment-count, .bookmark {
  color: #62BCCC;
  font-size: 0.75rem;
};

.topic-show-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  .topic-show-header-left {
    display: inline-flex;
  }
}

.h5 {
  font-weight: 700 !important;
}

.topic-show-h2 {
  font-weight: 100 !important;
}

@import "~bootstrap";