// Required
@import "~bootstrap";

// Your variable overrides
$body-bg: #F7F9FA;
$body-color: #000000;
$font-family-base: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$link-color: #62BCCC;
$list-group-bg: transparent;
$list-group-color: #62BCCC;
$list-group-active-color: #fff;
$list-group-active-bg: #62BCCC;
$list-group-active-border-color: #62BCCC;
$theme-colors: (
  "transparent": transparent
);
.btn-transparent {
  color: #1D293F !important;
  border: 0;
}

.homepage-search {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  div { 
    display: inline-flex;
    justify-content: space-between;
  }
};

@import "~bootstrap";